
#contact_container input, #contact_container textarea, form.search>input {
	border:white 1px solid;
	padding-left:25px;
	padding-top:15px;
	padding-bottom:15px; }	
	
#contact_container input { height:17px;  }

form.search>input { 
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:0;
	height:15px; }
	
#menu ul li a { 
	height:44px;
	padding:12px 30px 0 0;	}
	
#slider { position:relative; left:90px; }

#contact_container textarea { font-family:Arial, Helvetica, sans-serif; }

#menu ul { position:relative; top:40px; }

.continue { margin-bottom:-10px; }




